 .products-container.single-row {
     flex-wrap: nowrap;
     justify-content: flex-start;
 }
 
 .products-container.multi-row {
     flex-wrap: wrap;
     justify-content: flex-start;
 }
 
 .products-container.multi-row .product-card {
     flex: 0 0 calc(20% - 1rem);
     min-width: 200px;
 }
 
.product-card {